@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  *{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .shadow-div::before {
    @apply absolute bottom-0 left-0 right-0 z-[1];
    content: '';
    height: 45%; /* Adjust this value for how far up the shadow should go */
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4), /* Start with a semi-transparent black */
      rgba(0, 0, 0, 0)    /* Fade to fully transparent */
    );
    pointer-events: none; /* Make sure it doesn't block interactions */

  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
*{-webkit-tap-highlight-color: transparent;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  outline: none !important;
}
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}